html {
    background-color: bisque;
    padding-top: 20vh;
}

body {
    text-align: center;
    font-family: "Georgia", serif;
}

.container {
    width: 920px;
    margin: 0 auto;
    text-align: center;
    font-size: 20pt;
    position: relative;
}
kbd {
    display: inline-block;
    border: 2px solid gray;
    text-align: center;
    font-family: "Georgia", serif;
}
.white-keys kbd {
    background-color: #fff;
    padding: 350px 50px 50px;
}
.black-keys kbd {
    background-color: #000;
    color: #fff;
    padding: 200px 30px 50px;
}

.black-keys, .black-keys kbd {
    position: absolute;
    top: 0;
}

.black-keys kbd:nth-child(1) {
    left: 110px;
}
.black-keys kbd:nth-child(2) {
    left: 240px;
}
.black-keys kbd:nth-child(3) {
    left: 480px;
}
.black-keys kbd:nth-child(4) {
    left: 600px;
}
.black-keys kbd:nth-child(5) {
    left: 730px;
}
